body {
    margin: 0 0 0 0;
    background-color: #eee;
}

.flex {
    z-index: 1;
    width: 100%;
    position: fixed;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    justify-content: space-around;
    background-color: green;
    margin-top: -156px;
}

a {    
    padding: 20px;
    margin: 0 35px 0 35px;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
    color: whitesmoke;
    font-family: 'sriracha', sans-serif;
    /* sriracha es la fuente que he cargado desde google font a html, 
    se escribe entre comillas simples'' */
}

a:hover {
    color: #000;
}

.logo {
    position: fixed;
    z-index: 2;
    height: 60px;
    margin: -147px 0 0 80px;
}

.img1 {
    float: left;
    margin: 95px 0 0 30px;
}

h1 {
    font-size: 30px;
    margin: 155px 0 0 0;
    text-align: center;
}

.box1 {
    margin: 121px 0 0 1100px;
}

.timetable {
    margin: -75px 0 0 937px;
    padding-top: 100px;
    padding-left: 20px;
    width: 540px;
    background-color: white;
    height: 300px;
    z-index: 3;
    border: 5px groove;
    border-radius: 3px;
}

.time {
    margin-top: 10px;
    padding-top: 20px;
}
.ex {
    margin-left: 20px;
}

.boxtext {
    height: 532px;
    margin: -75px 0 0 920px;
    padding-top: 60px;
    padding-left: 20px;
    width: 550px;
    background-color: white;
    z-index: 3;
    border: 5px groove;
    border-radius: 3px;
}

h3 {
    margin-top: 10px;
    padding-top: 20px;
}

p {
    margin-left: 20px;
    margin-right: 15px;
}

.text-contact {
    margin: -75px 0 0 965px;
    padding-top: 100px;
    height: 130px;
    width: 442px;
    background-color: white;
    height: 300px;
    z-index: 3;
    border: 5px groove;
    border-radius: 3px;
}

.mail {
    font-size: 16px;
    color: green;
}

.mail:hover {
    color: blue;
}

* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}