* {
  font-family: sans-serif;
}

body {
  margin: 5%;
}
nav {
  font-size: 16px;
}

nav li {
  list-style: none;
  padding: 2px;
}

nav > ul > li {
  background-color: #3498db;
  display: inline-block;
}

nav > ul > li:hover {
  background-color: #2980b9;
}

table,
th,
td {
  border: 1px solid #3498db;
  border-collapse: collapse;
  padding: 5px;
}

.div {
  float: left;
}

.button {
  color: white;
}

.logo {
  font-size: 300%;
  background-color: white;
  width: 10em;
}

a.logo a,
a.logo:visited {
  color: #3498db;
}

.logo::before {
  content: url("./Images/logo.png");
  height: 50px;
  width: auto;
}

.dropdown-btn {
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.dropdown-btn::after {
  content: "\25BC";
}

.dropdown:hover,
.dropbtn:focus {
  background-color: #2980b9;
}

.dropdown {
  display: inline-block;
}

.dropdown-items {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  padding-left: 25px;
  padding-right: 10px;
  z-index: 1;
}

.dropdown-items li a {
  display: block;
  color: black;
  width: 100%;
}

.dropdown.show .dropdown-items {
  display: block;
}

.dropdown.show .dropdown-btn:after {
  content: "\25B2";
}

.dropdown.show .dropdown-items li a:hover {
  background-color: lightgray;
}
