body {
    
}

img {
    float: left;
    height: 200px;
    width: 200px;
}

h1 {
    margin-top: 160px;
    margin-bottom: 50px;
    font-size: 72px;
}

a {
    padding: 0px 15px 0px 15px;
}

.link1 {
    text-decoration: none;
    color: black;
}

hr {
    border:none;
    border-left:1px solid hsla(200, 10%, 50%,100);
    /* hsla es una forma para escoger el color com rgb */
    height:30px;
    width:1px;
    display: inline;   
}

h2 {
    margin-left: 230px;
    font-size: 40px;
}

.time {
    margin-left: 250px;
    font-style: italic;
}

.ex {
    margin-left: 270px;
}

.time2 {
    margin-top: 25px;
}

.ex2 {
    margin-bottom: 25px;
}