.navigation {
    font-size: 170%;
    padding: 0;
}

.navigation ul li {
    display: inline-block;
    padding: 0 20px;
    position: relative;
}

/*This introduce tha vertical lines betwen the elements of the navigation */

.navigation ul li:not(:last-child)::after {
    content: "";
    border: 1px solid black;
    border-width: 5px 5px 0 0;
    position: absolute;
    right: -3px;
    top: 0;
    height: 100%;
}

.nameoftheevent {
    font-size: 300%
}

.logo {
    height: 216px;
    width: 201px;
    float: left;
    padding: 0px;
}

.design_image1 {
    position: relative;
    width: 216px;
    height: 201px;
    text-align: left;
    float: left;
}

.design_image2 {
    position: relative;
    width: 216px;
    height: 201px;
    text-align: left;
    float: left;
}

.design_image3 {
    position: relative;
    width: 216px;
    height: 201px;
    text-align: left;
    float: left;
}

.index_title {
    margin-left: 220px;
}

.contact_title {
    visibility: hidden;
}

.about_title {
    visibility: hidden;
}

.information_index {
    padding-left: 2em;
    text-indent: -2em;
    display: inline-block;
}

.information_about {
    display: table-cell;
    width: 500px;
    height: 200px;
    vertical-align: middle;
    text-indent: 1em;
}

.information_contact {
    padding-left: 2em;
    text-indent: -2em;
    display: inline-block;
}