ul li { 
    display:inline-block; 
    padding:0 7px; 
    position:relative;

}

/*This introduce tha vertical lines betwen the elements of the navigation */
ul li:not(:last-child)::after{
  content:""; 
  border:1px solid black;
  border-width: 5px 5px 0 0;
  position:absolute; 
  right:-3px; 
  top:0; 
  height:100%;
}

.nameoftheevent { font-size: 300% 

}
.navigation {
    font-size: 170%;

}
.columnimages logo {
    height: 217px;
    width: 201px;
    float: left;
}
.image2 {
    height: 217px;
    width: 201px;
    float: left;
    position: relative;
    top: 270px;
    position:inline; 
    left:-200px;
}