
.flexcontainer > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.links {
  list-style-type: none;
  text-indent: 250px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 30px;
 
}

.main-logo{
  float: left;
  height: 200px;
  width: 200px;
}
.mainbody > div {
  background-color: #f1f1f1;
  margin: 50px;
  padding: 50px;
  font-size: 50px;
  text-align: center;
}

.firstimage {
  float: left;
  height: 200px;
  width: 200px;
}
.second {
  text-indent: 100px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: green;
  
}
.events{
  list-style-type: none;
  text-indent:450px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.firstpara {
  text-indent: 100px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: green;
  
}
.justify{
  text-align: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.secondpara{
  text-indent: 400px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: green;
}
.third{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}




 