* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo-container {
    display: flex;
    position: absolute;
    height: 150px;
    width: 200px;
    top: 370px;
    left: 10px;
    z-index: 1;
}

.image-design-container {
    display: flex;
    width: 216px;
    height: 201px;
    position: absolute;
    top: 250px;
    visibility:hidden;
}

.menu-container {
    color: rgb(14, 13, 13);
    display: flex;
    position: absolute;
    top: 75px;
    left: 690px;
    z-index: 1;
}

.menu {
    width: 900px;
}

.menu li {
    display: inline;

}

.menu li a {
    font-size: 25px;
    text-decoration: none;
}

.menu span {
    margin: 1em
}
.actual_page_menu {
    background: darkgray;
    border: 1px solid black;
    box-sizing:content-box;
    width: 100%;
    padding: 5px;
}
.other_pages_menu {
    background: dodgerblue;
    border: 1px solid black;
    box-sizing:content-box;
    width: 100%;
    padding: 5px;
}

.nameofthevent-container {
    display: flex;
    position: absolute;
    top: 20px;
    left: 10px;
    z-index: 1;
}

.nameofthevent-container p {
    font-size: 65px
}

.actual_page .about_title {
    text-align: center;
    position: absolute;
    left: 0px;
    width: 1000px;
    border: 1px solid black;
    top: 300px;
    background-color:white;
    color:black;
}

.actual_page .contact_title {
    text-align: center;
    position: absolute;
    left: 0px;
    width: 1000px;
    border: 1px solid black;
    top: 300px;
    background-color:white;
    color:black;
}

.actual_page .index_title {
    text-align: center;
    position: absolute;
    left: 0px;
    width: 1000px;
    border: 1px solid black;
    top: 300px;
    background-color:white;
    color:black;
}

.information-container {
    position: absolute;
    top: 370px;
    left: 310px;
    width: 750px;
}
.horizontal-image-container {
    display: flex;
    position: absolute;
    top: 90px;
}
.horizontal-image-container img {
    height: 216px;
    width: 1000px;
}