html, body {
    border: 0;
    margin: 0;
    position: relative;
    height: auto;
}

/*IMAGES*/

.background {
    width: 100vw;
    height: 100vh;
    z-index: -2;
    position: fixed;
}

.logo {
    display: block;
    height: 200px;
    margin: 25px auto 25px auto;
    width: 200px;
}

/*HEADER*/

.top-margin {
    margin-top: 0;
}

.grid_container {
    display: grid;
    grid-template-rows: 'auto auto auto auto';
}

header {
    background-color: rgba(255, 255, 255, .7);
    color: darkslategray;
    font-size: large;
    text-align: center;
}

h1 {
    margin: auto auto;
}

h2 {
    background-color: darkslategray;
    color: greenyellow;
    font-size: 30px;
    margin-top: 0px;
    text-align: center;
}


/*MAIN CONTENT*/

.table_header {
    text-align: center;
}

.underHeader {
    background-color: rgba(255, 255, 255, .7);
    display: grid;
    grid-template-columns: 12% 88%;
    width: 100%;
}

section {
    border: none;
    box-sizing: border-box;
    display: grid;
    grid-column: 2/3;
    margin: 0;
    padding: 10px;
    width: 100%;
}

article {
    background-color: rgba(0, 255, 0, 0.1);
    border: 2px solid darkslategray;
    font-size: 20px;
    padding: 10px;
}

.white-background {
    background-color: rgba(255, 255, 255, .7);
}

/*NAVIGATION*/

aside {
    display: grid;
    grid-column: 1/2;
    margin: 10px;
    position: fixed;
}

a {
    background-color: rgb(0, 150, 200);
    border: 2px solid darkslategray;
    box-shadow: 2px 2px darkslategray;
    color: white;
    text-decoration: none;
    text-align: center;
    margin: 20px 0px;
    padding: 5px;
}

a:hover {
    background-color: rgba(0, 100, 255, 1);
    text-decoration: underline;
}

#link {
    background-color: white;
    border: none;
    box-shadow: none;
    color: blue;
    text-decoration: underline;
    text-align: right;
    margin: 0;
    padding: 0;
}

#link:hover {
    background-color: none;
    text-decoration: underline;
}

#email {
    text-align: right;
}

/*TABLES & FORMS*/

h3 {
    margin-bottom: 0px;
}

ol {
    margin-top: 0px;
}

ul {
    margin-top: 0px;
}

.square {
    list-style-type: square;
}

td {
    text-align: center;
}

#game_location {
    text-align: left;
}

.footer {
    display: grid;
    grid-template-columns: auto auto;
}

form {
    margin-left: auto;
    margin-right: auto;
    max-width: 80vw;
    padding: 10px;
}