body {
    margin-top: 0px; 
    margin-bottom: 0px; 
    margin-left: 0px; 
    margin-right: 0px;
    padding: 0;
    color: black; 
    font-size: 10pt; 
}


h1{
    margin-left: 0px;
    margin-top: 100px;
}

img {
    margin-top: -53px;
    margin-left: -110px;
    width: 100px;
    height: 75px;
}

h2{
    margin-left: 30px;
    margin-top:20px;
}

a:link{

    margin-left: 9px;
    margin-top: 20px;
    color: rgb(17, 17, 250);
}

a:visited{
    color: blue;

}



.plus{

    margin-left: 30px;
    margin-top: -30px;
}


.par{
 margin-left:35px;
 margin-top: -8px;
}

.par2{
margin-left:47px;
margin-top:-10px;

}

.par3{
margin-left: 30px;
margin-top: 20px;


}
.par4 {
    margin-left:30px;
    margin-top: -28px;
}


.container {
    margin-left: 150px;
}
