
header {
    display:grid;
    /* box-sizing: inherit; */
    grid-template-rows:60px 300px;
    grid-template-columns: 3fr 1fr 3fr;
    grid-template-areas:"myH1 myH1 myMenu"
    "myHeader_img myHeader_img myHeader_img";
  

}
.header_img{
    background-image: url("./assets/design1_image1.jpg");
    background-size: cover;
    /*   height:100%;
    width:100%; */
    grid-area: myHeader_img;
    z-index:-1;

}
.menu {
    grid-area: myMenu;
    display:flex;
    justify-content: flex-end;
    flex-wrap:nowrap;
  
    font-family:"Lucida handwriting", Helvetica, Sans-serif;
    font-size: 10px;
    float:right;
    margin:29px 0px 0px 0px;
    z-index: 2;
      
}

a{
    color:black;
}

.header h1 {
    grid-area:myH1;
    float:left;
    margin-block-start: 0px;
    z-index:2;
    font-family: "Lucida handwriting", Helvetica, Sans-serif;
    
}
body{
    font-family: "Lucida handwriting", Helvetica, Sans-serif;
}

.pictures {
    height:100%;
    width: 100%;
    margin-inline-start:800px;
    padding: 0px;
    position:absolute;
    z-index:-1;
 } 
 .mainsection .logo {
    float: left;  
    margin-right: 50px;
    width:100px;
    margin:25px  0px 0px 0px;
    position:relative;
    z-index: 2;
    
    
 }

 
.subheader h2 {
    background-color: black;
    color:white;
    text-align:center;
    position:relative;
    z-index:1;
    margin: 0px 0px 0px 0px;
    font-family: "Lucida handwriting", Helvetica, Sans-serif;
    font-size: 10px;
    } 



.subheader {
    position:relative;
}

.section{
   /*  margin-left: 150px; */
    font-family: "Lucida handwriting", Helvetica, Sans-serif;
    font-size: 10px;
    margin: 0px  0px 0px 118px;

}


button {
    display:inline-block;
    color:black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    padding:10px;
    border: 2px solid black;
  }

.button1{
    background-color:green;
}

.button2{
    background-color:blue;
}

.section-game-info{
    margin-inline-start:110px;
}





.section-game-info{
    font-size: 10px;
    font-family: "Lucida handwriting", Helvetica, Sans-serif;
    margin: 0px  0px 0px 118px;
 }
.section-game-info h3 {
    /*  margin-left: 150px; */
     font-style:italic;
 }

 .section-game-info p:nth-child(1) {
    /*  margin-left: 150px; */

     font-style: italic;
     text-decoration: underline;
     
 }


 .game-info-tables {
    font-family: "Lucida handwriting", Helvetica, Sans-serif;
    border-collapse: separate;
    border-spacing: 50px 0;

    margin-left: auto;
    margin-right: auto;
    
  }
 .game-info-tables thead th {
    padding: 10px 0;

 }
 
 .section-game-info p:nth-child(2) {
    /*  margin-left: 150px; */

     font-style: italic;
     text-decoration: underline;
     
 }

 .section-game-info p:nth-child(7) {
    display:inline;
   

 }

 .section-game-info p:nth-child(8) {
     display:inline;
     margin-inline-start:200px;

     
   
 }
 

 .locations {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    column-gap: 10px;
    row-gap:10px;
 }


 input{
     border-radius:0.25rem;
     border:0.5px solid rgba(128, 128, 128, 0.644);

 }