.bigboss{
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
}
.container {
  padding: 1rem;
  border-radius: .5rem;
  margin-left: 4rem;
  display: flex;
  
}
.container_logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20em;
}
.nav{
  font-size: 2rem;
  text-align: left;
  margin-top: 3rem;
}
.nav__item {
  color: rgb(61, 92, 194);
}

.logo {
  max-width: 17rem;
  padding-right: 2rem;
}
.images {
  max-width: 15rem;
  margin-right: 2rem;  
}
.text_logo {
  font-size: 40px;
  display: flex;
  text-align: center;
}
.contact_text {
  font-size: 35px;
}
.date{
  font-size: 1.5rem;
}
.date_text{
  margin-left: 1.5rem;
  font-size: 1.2rem; 
}
.about_text{
  font-size: 1.5rem; 
  font-weight: bold;
}
.line{
color:deepskyblue;
font-size: 2.5rem;
}
