.nav {
    background-color: gainsboro;
    border: 1px solid black;
}

#actualPosition {
    background-color: darkgrey;
    border-bottom: 1px solid black;
    color: black;
}

.homeLink {
    border-bottom: 1px solid black;
    margin-left: 10px;
}

.logo {
    height: 80px;
    width: 80px;
    margin: 10px 0px;
}

.email {
    float: right;
    margin: 40px 0px
}

.footer {
    background-color: gainsboro;
    border: 1px solid black;
    text-align: center;
    padding: 15px 0px;
}

.accordion-button{
    background-color: white;
    border: none;
    color: royalblue;
    font-size: 14px;
    text-decoration: underline;
}

#more {display: none;}