.navigation {
    width: 500px;
    margin-left: 10px;
    position: absolute;
    left: 150px;
    top: 150px;
}
.navigation li{
    display:inline;
}
#logo {
    position: absolute;
    width: 100px; 
    height: 100px; 
    left:10px;
    }

#nameleague {
        width: 600px; 
        height: 10px; 
        left:10px;
        position: absolute;
        left: 120px;
        top: 25px;
      
    }
h2 {
    margin-left: 170px;
}

#image1 {
    position: relative;
    width: 125px; 
    height: 186px; 
    top: 25px;
    text-align: left;
    float: left;

}

#image2 {
    position: relative;
    width: 125px; 
    height: 145px; 
    top: 25px;
    text-align: left;
    float: left;

}

#image3 {
    position: relative;
    width: 125px; 
    height: 186px; 
    top: 25px;
    text-align: left;
    float: left;
}

#design_image1 {
display: none;
}

#design_image2 {
    display: none;
}
.bodycontent {
    position: relative;
    width: 600px; 
    height: 10px;
    top: 170px;
    left: 10px;
    }
#firsttab {
    margin-inline-start:200px;
}

#secondtab {
    margin-inline-start:225px;
}
#headertitle {
    display: none;

}