.navigation {
    width: 500px;
    margin-left: 0px;
    position: absolute;
    left: 0px;
    top: 170px;
    z-index: 1;
    
}

.navigation li{
    list-style-type: none; 
    padding: 20px;
   
}
#logo {
    position: absolute;
    width: 100px; 
    height: 100px; 
    left:800px;
    top: 100px;
    z-index: 1;

    }

#nameleague {
        width: 600px; 
        height: 10px; 
        left:10px;
        position: absolute;
        left: 120px;
        top: 25px;
      
    }
h2 {
    margin-left: 170px;
}

#image1 {
    position: relative;
    width: 125px; 
    height: 186px; 
    top: 25px;
    text-align: left;
    float: left;
    display: none;
}

#image2 {
    position: relative;
    width: 125px; 
    height: 145px; 
    top: 25px;
    text-align: left;
    float: left;
    display: none;
}

#image3 {
    position: relative;
    width: 125px; 
    height: 186px; 
    top: 25px;
    text-align: left;
    float: left;
    display: none;
}

#design_image1 {
    width: 1000px; 
    height: 154px; 
}

#design_image2 {
    display: none;
}
.bodycontent {
    position: relative;
    width: 600px; 
    height: 10px;
    top: 50px;
    left: 10px;
    }
#firsttab {
    margin-inline-start:200px;
}

#secondtab {
    margin-inline-start:225px;
}
#headertitle {
    position: absolute;
    width: 1000px; 
    height: 50px; 
    left:0px;
    text-align: center;
    margin-left: auto;
    
}

#headertitle {
    border: 5px #A4FF4A;
    border-style:solid ;
    padding: 2px;
    margin-bottom: 2px;
    top: 100px;
    background-color: #033949;
    color: white;
  }
#activepagetitle {
    display: none;
}

#nameleague {
    position:   absolute;
    color: black;
    width: 1000px; 
    height: 50px; 
    top:        0px;
    left:       10px;
}