.logo img {
  width: 120px;
  height: 120px;
  border: 2px solid #999999;
}

div.logo {
  margin-top: 10px;
  float: left;
  padding-right: 10px;
}

div.top-text {
  margin: 30px;
  float: right;
}

body {
  font-family: "Cambria";
}

div.top-frame {
  text-align: center;
  width: 100%;
}

div.top-frame img {
  width: 100%;
  background-color: grey;
}

.text-in-image {
  position: absolute;
  top: 20px;
  margin-left: 20px;
}

/* Tab Name Border */
h2 {
  margin: 0;
  border: 2px solid black;
}

.button {
  background-color: rgb(58, 58, 247); /* Blue */
  border: 2px solid black;
  color: white;
  padding: 5px 20px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  width: 60%;
}

.color-button {
  background-color: rgb(8, 192, 8); /* Green */
  border: 2px solid black;
  color: white;
  padding: 5px 20px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  width: 60%;
}

.index-frame1 img {
  float: left;
  margin-right: 20px;
  width: 50%;
}

.index-frame1 {
  height: 140px;
}

.menu {
  position: absolute;
  top: 0;
  left: calc(100% / 1.4);
}

.menu img {
  float: left;
  margin-right: 20px;
  width: 140px;
  height: 140px;
  border: 2px solid #999999;
}

.bottom-frame {
  margin-top: 10px;
}

.bottom-frame2 dl {
  padding-left: 20px;
  float: right;
  width: calc(100% - 184px);
}

/* Center website*/
div.everything {
  width: 90%;
  margin: auto;
  max-width: 960px;
}

div.sides {
  width: 5%;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

/* #show,
#content {
  display: none;
}

#show:checked ~ #content {
  display: block;
} */

.bottom-text {
  float: left;
  margin-top: 10px;
}

.table1 {
  float: left;
}

.table2 {
  float: left;
  margin: 0 10px 0 10px;
}

.table3 {
  float: left;
}

.index-bottom-text {
  float: left;
}

div.middle-frame {
  float: left;
  font-size: large;
}
