.logo {
    display: block;
  /*   height:30%; */
    max-height:150px;
    min-height:150px;
   /*  width:30%; */
    max-width:150px;
    min-width:150px;
    position:relative;
    z-index: 2;      
 }
 
 .email{
   float:right;
          
 }
 
 .top_flex{
  display:flex;
  justify-content: space-between;
  padding-right: 25px;
  padding-left:25px;
  padding-top: 25px;
  padding-bottom: 25px;
    
}