* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo-container {
    display: flex;
    position: absolute;
    height: 150px;
    width: 200px;
    top: 370px;
    left: 10px;
    z-index: 1;
}

.image-design-container {
    display: flex;
    width: 216px;
    height: 201px;
    position: absolute;
    top: 250px;
    visibility: hidden;
}

.menu-container {
    color: rgb(14, 13, 13);
    display: flex;
    position: absolute;
    top: 75px;
    left: 650px;
    width: 350px;
    z-index: 1;
}

.menu {
    width: 900px;
}

.menu-container li {
    display: inline;
}

.menu-container {
    text-align: center
}

.menu li a {
    font-size: 25px;
    text-decoration: none;
    color: white;
}

.menu span {
    margin: 1em
}

.actual-page-menu {
    background: darkgray;
    border: 1px solid black;
    box-sizing: content-box;
    width: 100%;
    padding: 5px;
}

.other-pages-menu {
    background: dodgerblue;
    border: 1px solid black;
    box-sizing: content-box;
    width: 100%;
    padding: 5px;
}

.name-of-the-event-container {
    display: flex;
    position: absolute;
    top: 20px;
    left: 10px;
    z-index: 1;
}

.name-of-the-event-container p {
    font-size: 60px
}

.about-title {
    text-align: center;
    position: absolute;
    left: 0px;
    width: 1000px;
    border: 1px solid black;
    top: 300px;
    background-color: white;
    color: black;
}

.general-information-title {
    text-align: center;
    position: absolute;
    left: 0px;
    width: 1000px;
    border: 1px solid black;
    top: 300px;
    background-color: white;
    color: black;
}

.contact-title {
    text-align: center;
    position: absolute;
    left: 0px;
    width: 1000px;
    border: 1px solid black;
    top: 300px;
    background-color: white;
    color: black;
}

.index-title {
    text-align: center;
    position: absolute;
    left: 0px;
    width: 1000px;
    border: 1px solid black;
    top: 300px;
    background-color: white;
    color: black;
}

.information-container {
    position: absolute;
    top: 370px;
    left: 310px;
    width: 750px;
}

.horizontal-image-container {
    display: flex;
    position: absolute;
    top: 90px;
}

.horizontal-image-container img {
    height: 216px;
    width: 1000px;
}

.information-container {
    width: 700px;
}

.information-container-general-info li {
    list-style-type: none;
}

.information-container-general-info span {
    font-weight: bold;
}

.information-container-general-info th {
    text-align: left;
}

.rules-document-title {
    text-align: center;
}

.rules-header-text {
    text-align: center;
    font-style: italic;
    font-size: 1.2em;
}

ol > li::marker {
    font-weight: bold;
  }
 /*Formating of <ol> in rules.html */
.top-level {
    font-weight: bold;
}

.padding-left-number {
    padding-left: 40px;
}

.padding-left-upper-alpha {
    padding-left: 40px;
    list-style-type: upper-alpha;
}

.padding-left-lower-alpha {
    padding-left: 40px;
    list-style-type: lower-alpha;
}
/* end of Formating of <ol> in rules.html */

.nobold {
    font-weight: normal;
}

.table-vehicle-weight {
    border-collapse: collapse;
}

.table-vehicle-weight th, .table-vehicle-weight td {
    border: 1px solid black;
    border-right: 0px solid;
    padding: 10px 15px;
}
.table-vehicle-weight th {
    text-align:center;
}
.to_skip_the_numeration {
    display: block; 
}

/*Formating of <form> in registration.html */
.form-row button {
    font-size: 16px;
    font-weight: bold;
  
    color: #FFFFFF;
    background-color: #5995DA;
  
    border: none;
    border-radius: 3px;
  
    padding: 10px 40px;
    cursor: pointer;
  }
  
  .form-row button:hover {
    background-color: #76AEED;
  }
  
  .form-row button:active {
    background-color: #407FC7;
  }
