* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo-container {
    display: flex;
    height: 216px;
    width: 300px;
}

.image-design-container {
    display: flex;
    width: 216px;
    height: 201px;
    position: absolute;
    top: 250px;
}

.menu-container {
    color: rgb(14, 13, 13);
    display: flex;
    position: absolute;
    top: 150px;
    left: 310px;
}

.menu {
    width: 900px;
}

.menu li {
    display: inline;
}

.menu li a {
    font-size: 35px;
}

.menu ul li:not(:last-child)::after {
    content: "";
    border: 1px solid black;
    border-width: 5px 5px 0 0;
    position: absolute;
    top: 0;
    height: 100%;
    margin-bottom: 10px;
}

.menu span {
    margin: 2em
}

.nameofthevent-container {
    display: flex;
    position: absolute;
    top: 20px;
    left: 310px;
}

.nameofthevent-container p {
    font-size: 70px
}

.about_title {
    visibility: hidden;
}

.contact_title {
    visibility: hidden;
}

.index_title {
    text-align: center;
    position: absolute;
    left: 0px;
    width: 1000px;
    top: 225px;
}

.information-container {
    position: absolute;
    top: 270px;
    left: 310px;
    width: 750px;
}

.horizontal-image-container {
    visibility: hidden;
}
.information-container {
    width: 700px;
}
.information-container-general-info li {
    list-style-type: none;
}

.information-container-general-info span {
    font-weight: bold;
}

.information-container-general-info th {
    text-align: left;
}

.rules-document-title {
    text-align: center;
}

.rules_header_text {
    text-align: center;
    font-style: italic;
    font-size: 1.2em;
}
.top-level-sl1, .top-level-sl2,.top-level-sl3, .top-level-acl, .top-level-vdgsi  {
    font-weight: bold;
}