* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo-container {
    display: flex;
    position: absolute;
    height: 150px;
    width: 200px;
    top: 370px;
    left: 10px;
    z-index: 1;
}

.image-design-container {
    display: flex;
    width: 216px;
    height: 201px;
    position: absolute;
    top: 250px;
    visibility: hidden;
}

.menu-container {
    color: rgb(14, 13, 13);
    display: flex;
    position: absolute;
    top: 75px;
    left: 650px;
    width: 350px;
    z-index: 1;
}

.menu {
    width: 900px;
}

.menu-container li {
    display: inline;
}

.menu-container {
    text-align: center
}

.menu li a {
    font-size: 25px;
    text-decoration: none;
    color: white;
}

.menu span {
    margin: 1em
}

.actual_page_menu {
    background: darkgray;
    border: 1px solid black;
    box-sizing: content-box;
    width: 100%;
    padding: 5px;
}

.other_pages_menu {
    background: dodgerblue;
    border: 1px solid black;
    box-sizing: content-box;
    width: 100%;
    padding: 5px;
}

.nameofthevent-container {
    display: flex;
    position: absolute;
    top: 20px;
    left: 10px;
    z-index: 1;
}

.nameofthevent-container p {
    font-size: 60px
}

.about_title {
    text-align: center;
    position: absolute;
    left: 0px;
    width: 1000px;
    border: 1px solid black;
    top: 300px;
    background-color: white;
    color: black;
}

.contact_title {
    text-align: center;
    position: absolute;
    left: 0px;
    width: 1000px;
    border: 1px solid black;
    top: 300px;
    background-color: white;
    color: black;
}

.index_title {
    text-align: center;
    position: absolute;
    left: 0px;
    width: 1000px;
    border: 1px solid black;
    top: 300px;
    background-color: white;
    color: black;
}

.information-container {
    position: absolute;
    top: 370px;
    left: 310px;
    width: 750px;
}

.horizontal-image-container {
    display: flex;
    position: absolute;
    top: 90px;
}

.horizontal-image-container img {
    height: 216px;
    width: 1000px;
}
.information-container {
    width: 700px;
}
.information-container-general-info li {
    list-style-type: none;
}

.information-container-general-info span {
    font-weight: bold;
}

.information-container-general-info th {
    text-align: left;
}

.rules-document-title {
    text-align: center;
}

.rules_header_text {
    text-align: center;
    font-style: italic;
    font-size: 1.2em;
}
.top-level-sl1, .top-level-sl2,.top-level-sl3, .top-level-acl, .top-level-vdgsi  {
    font-weight: bold;
}
.second-level-sl1 {
    padding-left: 40px;
}

.thrid-level-sl1 {
    padding-left: 40px;
}
.four-level-sl1 {
    padding-left: 40px;
    list-style-type:upper-alpha;
}
.five-level-sl1 {
    padding-left: 40px;
}
.six-level-sl1 {
    padding-left: 40px;
    list-style-type:lower-alpha;
}