body {
    margin: 0 0 0 0;
    background-color: #eee;
}

nav {
    z-index: 1;
    width: 100%;
    position: fixed;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr 2fr;
    justify-content: space-around;
    background-color: green;
    margin-top: -156px;
}

a {    
    padding: 17px;
    margin: 0 35px 0 35px;
    text-align: center;
    font-size: 27px;
    text-decoration: none;
    color: whitesmoke;
    font-family: 'sriracha', sans-serif;
    /* sriracha es la fuente que he cargado desde google font a html, 
    se escribe entre comillas simples'' */
}

a:hover {
    color: #000;
}

.logo {
    position: fixed;
    z-index: 2;
    height: 56px;
    margin: -151px 0 0 10px;
}

.img1 {
    float: left;
    margin: 95px 0 0 30px;
}

h1 {
    font-size: 30px;
    margin: 155px 0 0 0;
    text-align: center;
}

.box1 {
    margin: 121px 0 0 1100px;
}

.timetable {
    margin: -75px 0 0 937px;
    padding-top: 100px;
    padding-left: 20px;
    width: 540px;
    background-color: white;
    height: 300px;
    z-index: 3;
    border: 5px groove;
    border-radius: 3px;
}

.time {
    margin-top: 10px;
    padding-top: 20px;
}
.ex {
    margin-left: 20px;
}

.boxtext {
    height: 532px;
    margin: -75px 0 0 920px;
    padding-top: 60px;
    padding-left: 20px;
    width: 550px;
    background-color: white;
    z-index: 3;
    border: 5px groove;
    border-radius: 3px;
}

h3 {
    margin-top: 10px;
    padding-top: 20px;
}

p {
    margin-left: 20px;
    margin-right: 15px;
}

.text-contact {
    margin: -75px 0 0 965px;
    padding-top: 100px;
    height: 130px;
    width: 442px;
    background-color: white;
    height: 300px;
    z-index: 3;
    border: 5px groove;
    border-radius: 3px;
}

.mail {
    font-size: 16px;
    color: green;
    padding: 0;
    margin: 0;
}

.mail:hover {
    color: blue;
}

* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* página de la tabla */


.table-body {
    margin: 7%;
    padding-left: 10%;
}

header {
    text-align: center;
    margin-left: -11%;
}

article{
    font-style: italic;
}

.table1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.date {
    margin-left: 10%;
}
h3 {
    margin-bottom: 0px;
    text-decoration: underline;
}

.table2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 3%;
}

.table3 {
    margin-top: 3%;
}

.maps {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
}

div .map {
    margin-top: 16%
}

div .adress {
    margin-top: 0px;
}

.sc-name {
    font-weight: bold;
}

h2 {
    font-size: 1.17em;
}

.table3 h2 {
    margin-bottom: 0;
}

.table-p {
    margin-top: 80px;
}

.table-p p {
    margin-left: 0;
}

.p3 {
    margin-top: 36px;
}
.email {
    display: inline;
    /* text-align: end; no se porque no funciona tirare de margin */
    margin-left: 45%;
}


/* pagina de la lista  */


.header-list {
    text-align: center;
}

h4 {
    font-size: 1.29em;
}

hgroup {
    font-size: 1.29em;
    margin-top: 40px;
    margin-bottom: 30px;
}

.list-body {
    margin: 7%;
}

.list-father {
    margin-top: 15px;
}
ul {
    margin-top: 0;
}

ol {
    margin-top: 0;
}

.li-change {
    margin-bottom: 15px;
}

ul li {
    list-style-type: square;
    }

.change-type-d {
    list-style-type: circle;
}

.change-type {
    list-style-type: decimal;
}

.bold ::marker {
    font-weight: bold;
}

.bold li ::marker {
    font-weight: normal;
}

/* Estilo del formulario */

.registration-title {
    margin-bottom: 4rem;
}

.form {
    width: 100%;
    margin-bottom: 2rem;
    border: none;
}

.form1 {
    display: flex;
    justify-content: space-between;
}   

.input-box1 {
    width: 450px;
}

.form2 {
    display: grid;
    grid-template-columns: 1fr 9fr;
}

.form3 {
    display:grid;
    grid-template-columns: 1fr 1fr;
}

.grade-checkbox {
    margin-left: 5%;
}

.label-space {
    margin-right: 7px;
}


.checkbox-form5-6 {
    margin-left: 70px;
}

.permission-text strong {
    text-decoration: underline;
}

.permission-text article {
    text-decoration: none;
}

.permission-text p {
    margin: 10px 0 0 0;
}

.submit {
    text-align: center;
    margin-top: 30px;
}

.submit-button {
    background-color: green;
    color: white;
    width: 140px;
    height: 60px;
    border-radius: 35px;
    font-family: 'sriracha', sans-serif;
    padding: 0 0 0 0;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.submit-button:hover {
    color: black;
}
/* preguntar esta parte, no he conseguido hacerlo sin margins se me separava el 
nombre del tickbox. He tenido que usar un monton de div */
.jersey-size {
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 10px;
}

.shorts-title {
    margin-left: 42.5%;
    display: inline;
}

.shorts-size {
    float: right;
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: -87px 0 0 50%;
}

/* preguntar esta parte, no he conseguido hacerlo sin margins se me separava el 
nombre del tickbox. He tenido que usar un monton de div */

.school1 {
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 10px;
}

.school2-title {
    display: inline;
    margin-left: 36.5%;
}

.school2 {
    float: right;
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: -63px;
}