body {
    background-color: rgb(248, 247, 247);
}

.logo-mail {
    padding: 2em;
}

.header-logo{
    height: 100px;
}

.header-mail {
    float: right;
    margin-top: 2em ;
}

.container-fluid {
    background-color: rgb(248, 247, 247);
}

#navbarDropdownMenuLink {
    font-size: 1.25rem;
    color:rgba(0,0,0,.9);
}

.text-box {
    margin: 4em 0 2em 0;
}

footer {
    text-align: center;
    padding: 2em;
}