body{
    background: #d3d3d3;
  }
@keyframes shadowBox {
    50% {
     bottom: 100px;
     box-shadow: 
     0 0 0 10px hsl(0, 0%, 50%),
     0 0 0 15px hsl(0, 0%, 60%),
     0 0 0 20px hsl(0, 0%, 70%),
     0 0 0 25px hsl(0, 0%, 80%),
     0 0 0 30px hsl(0, 0%, 90%);
    }
  }
.menu{
    animation: shadowBox 10s infinite;
    margin-top: 50px;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 12px;
    padding: 10px;
    color: #C0C0C0;
    display: flex;

}
a, a:link, a:visited{
  color: black;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
}
a:hover{
  animation: shadowBox2 8s infinite ;
  text-decoration: none;
  cursor: pointer;
  color: black;
  
}
@keyframes shadowBox2 {
  50% {
   text-shadow: 0px 0px 5px #FF0000;
   border-radius: 12px;
  
  }
  70%{
    text-shadow: 5px 5px 5px #FF0000;
    border-radius: 12px;
    
   }
  100%{
   text-shadow: 0px 0px 5px #FF0000;
   border-radius: 12px;
   
  }
}
.tableName{
  width: 50%;
  box-shadow:5px 10px 8px 10px #888888;
}
.ImageTextChange:hover + .trial{
  display: block;
  box-shadow: 5px 10px 8px 10px #888888;
  color: red;
}
.ImageTextChange{
width: 60px;
}
.container{
animation: containerBreath 10s infinite ;
}
@keyframes containerBreath {
50% {
    padding-top: 30px;
}
}
.containerHome{
padding-top: 100px ;
margin-left: 20%;
margin-right: 20%;
position: absolute;
}
td{
  font-size: 15px;
}

