.logo {
  position: absolute;
  top: 330px;
  left: 450px;
  /* width: 120px; */
  height: 120px;
  border: 2px solid #999999;
}

body {
  font-family: "Cambria";
}

div.top-frame {
  text-align: center;
  width: 100%;
  max-width: 600px;
}

div.top-frame img {
  width: 100%;
  background-color: grey;
}

.text-in-image {
  position: absolute;
  top: 20px;
  margin-left: 20px;
}

h2 {
  margin: 0px;
  color: white;
  background-color: #2565ae;
}

.index-frame1 img {
  float: left;
  margin-right: 20px;
  width: 50%;
}

.index-frame1 {
  height: 140px;
}

.index-frame2 img {
  float: left;
  margin-right: 20px;
  width: 140px;
  height: 140px;
  border: 2px solid #999999;
}

.bottom-frame {
  float: none;
  margin-left: 100px;
  max-width: 550px;
}

.index-frame2 {
  float: left;
}

.bottom-frame2 dl {
  padding-left: 20px;
  float: right;
  width: calc(100% - 184px);
}
