body {
    background-color: azure; 
}

h1 {
    margin: 150px 0px 25px 50px;
    font-family: Verdana;
    font-size: 50px;
}
nav {
    margin: 20px 0px 15px 0px;
}
h2 {
    margin: 15px 0px 0px 230px;
    font-family: Verdana;
    font-size: 35px;
}
h3 {
    margin: 25px 0px 0px 0px;
    font-family: Verdana;
}
div {
    margin: 15px 0px 75px 230px;
}
.events {
    margin: 35px 0px 0px 270px;

}
.events time{
    font-style: italic;
    font-family: sans-serif;
    margin: 15px 0px 0px -10px;
}
p{
    margin: 0px 0px 0px 20px;
    font-family: sans-serif;
}

.logo {
    margin: 0px 10px 0px 50px;
    width: 120px;
    height: 120px;
    float: left;
}
.image1 {
    margin: 0px 10px 0px 50px;
    width: 120px;
    height: 120px;
    float: left ;
}
.image2 {
    margin: 20px 0px 0px 50px;
    width: 120px;
    height: 120px;
    float: left ;
}
.image3 {
    margin: 10px 10px 0px 50px;
    width: 120px;
    height: 120px;
    float: left ;
}

.menu li{
    list-style: none;
    padding: 10px;
    display: inline-block;
    font-size: 20px;
}