.logo {
  /*
  background-size: cover;
  color: lightgreen;
  */
  font: bold 14px arial;
  width: 140px;
  height: 140px;
  border: 2px solid #999999;
}
.soccer1 {
  /*
  background-size: cover;
  color: lightgreen;
  */
  font: bold 14px arial;
  width: 140px;
  border: 2px solid #999999;
}
.frame1 img {
  float: left;
  margin-right: 20px;
}

.about-frame2 img{
  float: left;
  margin-right: 20px;
  width: 250px;
}

.frame1 {
  height: 140px;
}

.frame2 img {
  float: left;
  margin-right: 20px;
}

.frame2 {
  height: 250px;
}

.frame2 dl {
  padding-left: 20px;
  float: right;
  width: calc(100% - 184px);
}